<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546299062145-4999v4mka151mt1n5danvgc82j2p5h65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546299062145-4999v4mka151mt1n5danvgc82j2p5h65</string>
	<key>API_KEY</key>
	<string>AIzaSyBudN3c9MpYwDRWPGUCaK_61uszMBAQsss</string>
	<key>GCM_SENDER_ID</key>
	<string>546299062145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cajicoApp</string>
	<key>PROJECT_ID</key>
	<string>cajico-prd</string>
	<key>STORAGE_BUCKET</key>
	<string>cajico-prd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546299062145:ios:c61197b927e149363aaa80</string>
</dict>
</plist>